spring:
  application:
    name: SpringBootRestAPI
  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
---
spring:
  datasource:
    url: jdbc:mysql://localhost:3306/jpa
    username: root
    password: 1234
    driver-class-name: com.mysql.cj.jdbc.Driver
---
server:
  port: 8082
---
spring:
  security:
    user:
      name: admin
      password: 1234
---
spring:
  main:
    allow-circular-references: true
---
logging:
  level:
    org:
      springframework:
        web: DEBUG
---
management:
  endpoints:
    web:
      exposure:
        include: health,info,metrics

